In [ ]:
SELECT
    c.Country,
    SUM(i.Total) AS TotalSales
FROM
    Invoices i
    JOIN Customers c ON i.CustomerId = c.CustomerId
GROUP BY
    c.Country
ORDER BY
    TotalSales DESC;

In [ ]:
SELECT
    c.CustomerId,
    c.FirstName || ' ' || c.LastName AS CustomerName,
    SUM(i.Total) AS TotalSpent
FROM
    Invoices i
    JOIN Customers c ON i.CustomerId = c.CustomerId
GROUP BY
    c.CustomerId
ORDER BY
    TotalSpent DESC
LIMIT 10;

In [ ]:
SELECT
    g.Name AS Genre,
    COUNT(il.InvoiceLineId) AS TracksSold
FROM
    InvoiceLines il
    JOIN Tracks t ON il.TrackId = t.TrackId
    JOIN Genres g ON t.GenreId = g.GenreId
GROUP BY
    g.Name
ORDER BY
    TracksSold DESC;

In [ ]:
SELECT
    ar.Name AS Artist,
    SUM(il.UnitPrice * il.Quantity) AS TotalSales
FROM
    InvoiceLines il
    JOIN Tracks t ON il.TrackId = t.TrackId
    JOIN Albums al ON t.AlbumId = al.AlbumId
    JOIN Artists ar ON al.ArtistId = ar.ArtistId
GROUP BY
    ar.Name
ORDER BY
    TotalSales DESC;